.layout {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    flex: 0.2;
    height: 100vh;
    background-color: var(--color-bg-secondary);
    border-right: 1px solid var(--color-border-strong);
    box-shadow: var(--color-primary-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
}

.sidebar__logo {
    width: 30%;
    position: absolute;
    top: 10px;
}

.sidebar__links {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    gap: 10px;
    padding-left: 20px;
    transition: all 0.2s ease;
}

.sidebar__link:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-text-white);
}

.content {
    flex: 1;
    padding: 40px 60px;
    background-color: var(--color-bg-primary);
}