.content__table {
    width: 100%;
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-border-strong);
    border-radius: 7px;
    padding: 20px;
}

.content-table__title {
    margin-bottom: 20px;
    font-size: var(--font-size-xl);
}

.content-table__button {
    padding: 5px 10px;
    border-radius: 5px;
}

.content-table__button-text {
    margin-left: 5px;
}

.content-table__button--add {
    color: var(--color-text-white);
    background-color: var(--color-primary);
    transition: all 0.2s ease;
}

.content-table__button--add:hover {
    background-color: var(--color-primary-hover);
    box-shadow: var(--color-primary-shadow);
}

#familiesTable_wrapper .dt-input, #residentsTable_wrapper .dt-input{
    padding: 0 10px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--color-bg-surface);
    border: 2px solid var(--color-border-strong);
    transition: all 0.2s ease;
    margin-left: 10px;
}

#familiesTable_wrapper .dt-input:focus, #residentsTable_wrapper .dt-input:focus{
    border-color: var(--color-primary-active);
    box-shadow: 0 0 0 4px var(--color-primary-shadow);
}